@use '../../styles/mixins'as *;

.projects-section-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  @include content-horizontal-padding;

  .projects-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include content-max-width;

    .project {
      padding: 15px;
      display: flex;
      flex-direction: column;

      margin-bottom: 30px;

      .head {
        border-bottom: 1px solid rgb(187, 187, 187);
        padding-bottom: 10px;
        margin-bottom: 20px;
        display: flex;
        align-items: flex-end;
        .title {
          font-size: 25px;
          font-weight: 700;
          line-height: 30px;
          flex: 1;
        }
        .date {
          font-size: 14px;
          width: 130px;
          text-align: left;
          color: gray;
        }
      }

      .body {
        display: flex;
        align-items: center;

        .thumbnail-wrapper {
          display: flex;
          align-items: center;
          justify-content: center;

          width: 200px;
          height: fit-content;
          margin-right: 15px;
        }
        .thumbnail {
          width: 200px;
          box-shadow: 1px 1px 5px rgba(102, 102, 102, 0.452);
        }
      }

      .content {
        display: flex;
        flex-direction: column;

        .tech-stack {
          display: flex;
          margin-bottom: 10px;

          .tech {
            background-color: var(--chip-background-color);
            border-radius: 10px;
            font-size: 15px;
            font-weight: 500;
            margin-right: 10px;
            padding: 5px 7px;
          }
        }
        .description {
          font-size: 16px;
          font-weight: 400;
          line-height: 1.4;
        }

        @include sm {
          flex-direction: column;
        }
      }
    }
  }
}
